@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

:root {
  --background: hsl(27.27, 100%, 95.69%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(0, 0%, 7.45%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(0, 0%, 7.45%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(25.6, 100%, 57.25%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(25.6, 100%, 57.25%);
  --input: hsl(0, 0%, 100%);
  --ring: hsl(25.6, 100%, 57.25%);

  --radius: 0.5rem;

  --cream: hsl(33 100% 96%);
  --orange: hsl(26 100% 57%);
  --grey: hsl(0, 0%, 85.1%);
  --alternate: hsl(0, 0%, 49.41%);
  --black: hsl(0, 0%, 7.45%);
}

.dark {
  --background: hsl(27.27, 100%, 95.69%);
  --foreground: hsl(0, 0%, 7.45%);

  --card: hsl(0, 0%, 7.45%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(0, 0%, 7.45%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);

  --cream: hsl(33 100% 96%);
  --orange: hsl(26 100% 57%);
  --grey: hsl(0, 0%, 85.1%);
  --alternate: hsl(0, 0%, 49.41%);
  --black: hsl(0, 0%, 7.45%);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-cream: var(--cream);
  --color-orange: var(--orange);
  --color-grey: var(--grey);
  --color-alternate: var(--alternate);
  --color-black: var(--black);
  --color-white: var(--white);

  --radius-lg: var(--radius);

  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --font-normal: "Poppins-Regular";
  --font-bold: "Poppins-Bold";
  --font-medium: "Poppins-Medium";
  --font-light: "Poppins-Light";
  --font-semibold: "Poppins-SemiBold";

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}
